<h1>Bienvenue sur la fiche du restaurant : <%= @restaurant.name %></h1>
<p>Name : <%= @restaurant.name %></p>
<p>Address : <%= @restaurant.address %></p>
<p>Phone : <%= @restaurant.phone_number %></p>
<p>Category : <%= @restaurant.category %></p>
 <%= render 'reviews/form', restaurant: @restaurant, review: @review %>
<div class="reviews">
<% @restaurant.reviews.each do |review| %>
<p> Content : <%= review.content %></p>
<p> Rating : <%= "*" * review.rating %></p>
<% end %>
</div>

